body
{
    background-image: url(./Cubes.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#showcase
 {
     text-align: center;
     background-image: url(BlueWhite.jpg);
     height: 15em;
     width: 90%;
     border-radius: 30px;
     margin: auto;
 }

 #showcase h1
 {
     color: #4D80B9;
     font-size: 80px;
     font-family: 'Courier New', Courier, monospace;
 }

 .box
 {
     width: 80%;
     margin: auto;
     margin-top: 10em;
 }

 .box h1
 {
    color: #090f16;
    font-size: 10px;
 }

 .box p
 {
     font-size: 22px;
     width: 90%;
     float: right;
 }

 .button {
    background-color: #4D80B9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 5em;
    margin-left: 40%;
}

.flexBox
{
    display: flex;
    margin-top: 5em;
}

.flexButton
{
    background-color: #4D80B9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    border-radius: 30px;
    margin-top: 5em;
    margin-left: 40%;
}